.caja{
    width: 50%;
    margin: 0 auto;

}

.caja .mifoto{
    border-radius: 2em;
    box-shadow:0 0 0.5em rgba(0, 0, 0, 0.8) ;
    cursor: pointer;
}

.p {
    cursor: pointer;
}

.capafondo{
    background: url("wallpapersden.com_purple-sunrise-4k-vaporwave_1920x1080.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    z-index:-1;
    opacity: 35%;
    width: 100%
    
   }